@import "tailwindcss";

body {
  margin: 0;
}

@theme {
  /* font family */
  --font-space-grotesk: "Space Grotesk", sans-serif;

  /* text size */
  --text-h1: 60px;
  --text-h2: 40px;
  --text-h3: 30px;
  --text-h4: 20px;
  --text-p: 18px;

  /* color */
  --color-primary: #b9ff66;
  --color-secondary: #191a23;
  --color-tertiary: #f3f3f3;
  --animate-scroll: scroll 20s linear infinite;
  --animate-reverse-scroll: scroll 15s linear reverse infinite;
  @keyframes scroll {
    from {
      transform: translateX(100);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

/* animation */
.marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
